<div class="container">
    <div class="col-12">
        <div class="row">
            <div class="col-6 woman-img">
                <img src="assets/images/woman.svg">
            </div>
            <div class="col-6">
                <p class="title">Estamos validando tu correo electrónico</p>
                <p class="subtitle">Recuerda esta validación tiene <span>vigencia de 10 minutos.</span></p>
                
                <!-- State Component -->
                <app-id-c-vt-state [state]="stateProcess"></app-id-c-vt-state>
            </div>
        </div>
    </div>
</div>