@import 'partials/var_mixins',
'partials/components',
'partials/layout',
'partials/modal',
'partials/carousel';


body {
  background: #F1F2F3 url('../src/assets/images/fondo.png') no-repeat;
  background-position-y: 37px;
  position: relative;
}
