body {
  background: #F1F2F3 url('../src/assets/images/fondo.png') no-repeat;
  background-position-y: 37px;
  position: relative;
}
/*html, body{
  height:100%
  margin 0;
  display: flex;
  flex-direction: column;
}*/
