<div class="carrousel">
  <h2>{{'carrusel.title' | translate}}</h2>
  <div id="slider">
    <input checked="" type="radio" name="slider" id="slide1">
    <input type="radio" name="slider" id="slide2">
    <input type="radio" name="slider" id="slide3">
    <input type="radio" name="slider" id="slide4">

    <div id="slides">
      <div id="overflow">
        <div class="inner">
          <div class="slide" *ngFor="let slide of sliders">
            <div class="row name">{{slide.subtitle | translate}}</div>
            <div class="row description" [innerHTML]="slide.text | translate"></div>
            <div class="slide-content">
              <img class="img_slider" [src]=slide.imagePath alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="controls">
      <label for="slide1"></label>
      <label for="slide2"></label>
      <label for="slide3"></label>
      <label for="slide4"></label>
    </div>

    <div id="bullets">
      <label for="slide1"></label>
      <label for="slide2"></label>
      <label for="slide3"></label>
      <label for="slide4"></label>
    </div>

  </div>
</div>
