<footer>
    <div class="title-footer">
        <p class="copyright">
            Soyyo. Copyright Servicios de Identidad Digital S.A.S. 2020 – Todos los derechos reservados.
        </p>
        <!--<p class="doubts">{{ 'validate-token.footer.title' | translate }}</p>
        <div class="options">
            <a href="#" >{{ 'validate-token.footer.options.FAQ' | translate }}</a>
            <a href="#" >{{ 'validate-token.footer.options.contact' | translate }}</a>
            <a href="#" >{{ 'validate-token.footer.options.report' | translate }}</a>
        </div>-->
    </div>
</footer>