.container_dashboard {
  /*margin: 0px 150px;
  display: flex;
  height: -webkit-fill-available;*/
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
   /*background: #F1F2F3 url(/assets/images/fondo.png) no-repeat;
  background-position-y: 37px; */
}
.container_base {
  align-items: center;
  display: table-cell;
  vertical-align: middle;
  /*padding: 100px;
  margin: 60px 80px 0px 200px;*/
}

.in-line {
  margin: 0px 150px;
}

.welcome {
  height: 57px;
  width: 215px;
  color: #2E2C35;
  margin: 0px 0px 9px 0px;
  @include font($fnb, normal, 42px);
}

.text-welcome {
  color: #2E2C35;
  margin: 0px 0px 38px 0px;
  @include font($fnr, normal, 18px);
}

.logo {
  margin: 40px 0px 45px 0px;
}

.user {
  background-color: #FFFFFF;
  border-radius: 10px;
  margin: 0px 0px 32px 10px;
  .tel {
    padding: 24px;
    text-align: center;
  }
}

.c-user{
  padding: 0px 10px 0px 0px;
}

.title-user {
  color: #FFA329;
  padding: 20px 0px 0px 0px;
  margin: 0px;
  @include font($fnb, normal, 16px);
}

.text-user {
  color: #2E2C35;
  padding: 0px 0px 20px 0px;
  margin: 0px;
  @include font($fnr, normal, 16px);
}

.text-help {
  color: #5A33FF;
  @include font($fnl, normal, 11px);
}

@media screen and (max-width: 1280px) {
  .container_dashboard {
    margin: 100px 50px 100px 150px;
  }
}
@media screen and (max-width: 1180px) {
  .container_dashboard {
    margin: 80px 50px 100px 100px;
  }
}
@media screen and (max-width: 1024px) {
  .container_dashboard {
    margin: 70px 30px 80px 50px;
  }
}
@media screen and (max-width: 768px) {
  .container_dashboard {
    margin: 50px 30px 50px 50px;
  }
}

@media (min-width: 1792px) and (max-width: 3100px){
  .in-line {
    margin: 0px 200px;
  }
  .img {
    width: 200px;
    height: 100px;
  }
  .welcome {
    margin: 0px 0px 25px 0px;
    @include font($fnb, normal, 52px);
  }
  .text-welcome {
    margin: 0px 0px 48px 0px;
    @include font($fnr, normal, 23px);
  }
  .img_telephone {
    width: 70px;
    height: 70px;
  }
  .title-user {
    @include font($fnb, normal, 23px);
  }
  .text-user {
    @include font($fnr, normal, 18px);
  }
  .text-help {
    @include font($fnl, normal, 18px);
  }
}
/*.logo {
  margin: 40px 0px 45px 0px;
  background-image: url("/assets/images/logo.png");
  background-repeat: no-repeat;
  width: 300px;
  height: 100px;
}
.img {
  width: 300px;
  height: 100px;
}

.container_dashboard {
  margin: 100px 20px 50px 50px;
}
#slider {
  width: 5000px
}*/

